# Include the license file
include LICENSE
include README.rst
include owndc.cfg
include owndc/application.wadl
include tests/test-owndc.cfg
include tests/test-owndc-routes.xml
include tests/test-masterTable.xml

# Include the data files
recursive-include data *